body{
    background: url("../images/newpic1.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Piedra', cursive;
}
div{
    background: url("../images/newbackground.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 60%;
    margin: 250px auto;
    text-align: center;
    border-radius: 20px;
    opacity: 0.8;
}
button{
    text-align: center;
    padding: 15px;
    background-color: darkgrey;
    font-size: 1.3em;
    border-radius: 12px;
    color: black;
}
h1{
    color: black;
    font-size: 3em;
}
p{
    color: black;
    font-size: 1.5em;
}
/*
i{
    font-size: em;
}*/
